doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/vendor/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/vendor/angular.min.js')
  body
    block content

    script(src='/vendor/bootstrap.min.js')